snippet snippet "Snippet"
`!p snip.rv='snippet'` ${1:name}
$2
`!p snip.rv='endsnippet'`
$0
endsnippet

snippet snipm "Snippet math"
context "math()"
`!p snip.rv='snippet'` ${1:name}
$2
`!p snip.rv='endsnippet'`
$0
endsnippet
